In [1]:
#
# H2 Assignment: Exploring Pandas in Python

In [5]:
# Part 1: Installation and Setup
# Install pandas library.


# Write the command to install the pandas library using pip.
# Install numpy library.

%pip install

Note: you may need to restart the kernel to use updated packages.

ERROR: You must give at least one requirement to install (see "pip help install")

In [6]:
%pip install keras

Requirement already satisfied: keras in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (3.3.3)
Requirement already satisfied: absl-py in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (2.1.0)
Requirement already satisfied: numpy in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (1.26.4)
Requirement already satisfied: rich in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (13.7.1)
Requirement already satisfied: namex in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (3.11.0)
Requirement already satisfied: optree in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (0.11.0)
Requirement already satisfied: ml-dtypes in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from keras) (0.4.0)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from optree->keras) (4.12.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\bilal khan\appdata\roaming\python\python312\site-packages (from rich->keras) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\bilal khan\appdata\local\programs\python\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# Write the code to import the pandas library as pd.
# Write the code to import the numpy library as np.

import pandas as pd

In [8]:
import numpy as np

In [12]:
## H2 Part 2: Basic Data Structures

In [15]:
# /* Create a Series.
# Create a pandas Series with the values [1, 3, 5, np.nan, 6, 8].
# Generate a Date Range.
# Generate a date range starting from "2024-01-01" with a period of 6 days.
# Create a DataFrame with Random Numbers.
# Create a pandas DataFrame with 6 rows and 4 columns of random numbers, indexed by the date range generated in question 5, and columns named A, B, C, D.
# Create a DataFrame with Different Data Types.
# Create a pandas DataFrame with the following data:
# A: 1.0
# B: Timestamp "2013-01-02"
# C: Series of 1 with index from 0 to 3, dtype "float32"
# D: Array of [3, 3, 3, 3], dtype "int32"
# E: Categorical ["test", "train", "test", "train"]
# F: "foo"
# Display Data Types.
# Display the data types of each column in the DataFrame created in question 7.*/



df= pd.Series([1,3,5,np.nan, 6,8])
print(df)

df2 = pd.DataFrame(
    { "A":1.0,
     "B": pd.Timestamp("20240101"),
     "C": pd.Series(1, index=(range(4))),
     "D": np.array([3]*4, dtype="int32"),
     "E": pd.Categorical(["test", "train", "test", "train"]),
     "F": "foo",
    }
)
df2.head()
df2.info()
df2.tail(2)
df2.index
df2.columns
df2.describe()
df2.T
print(df)
print (df2)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[s]
 2   C       4 non-null      int64
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[s](1), float64(1), int32(1), int64(1), object(1)
memory usage: 404.0+ bytes
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
     A          B  C  D      E    F
0  1.0 2024-01-01  1  3   test  foo
1  1.0 2024-01-01  1  3  train  foo
2  1.0 2024-01-01  1  3   test  foo
3  1.0 2024-01-01  1  3  train  foo

In [17]:
# Create a pandas DataFrame with 6 rows and 4 columns of random numbers, 
# indexed by the date range generated in question 5, and columns named A, B, C, D.

df= pd.DataFrame(np.random.randn(6,4),index=dates, columns=list("ABCD"))

print(df)


# Generate a date range starting from "2024-01-01" with a period of 6 days.

dates=pd.date_range("20240101", periods=6)
print(dates)

                   A         B         C         D
2024-01-01 -0.672586 -0.264465 -0.949952  2.261098
2024-01-02  1.254541  1.061698 -0.402935 -1.080713
2024-01-03 -0.758168  0.320831 -0.356677 -0.557104
2024-01-04  2.703200 -0.183758 -0.097997  0.364504
2024-01-05 -0.642490  1.119772 -0.641366 -0.851982
2024-01-06 -1.210427 -0.721757  0.415478  0.585403
DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
# Part 3: Viewing Data
# View the First Few Rows.
# Show the first 5 rows of the DataFrame created in question 6.



df2.loc[:, ["A", "B"]]

     A          B
0  1.0 2024-01-01
1  1.0 2024-01-01
2  1.0 2024-01-01
3  1.0 2024-01-01

In [20]:
# View the Last Few Rows.
# Show the last 3 rows of the DataFrame created in question 6.
df2.iloc[3]

A                    1.0
B    2024-01-01 00:00:00
C                      1
D                      3
E                  train
F                    foo
Name: 3, dtype: object